<nav class="bg-white text-primary sticky top-0 z-50 shadow">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <div class="flex items-center flex-row ">
      <img src="assets/logo.png" alt="Logo" class="h-10 w-12 mr-2" />
      <a routerLink="/" class="text-xl font-bold">Exam Prep</a>
    </div>


    <button class="md:hidden" (click)="open = !open">☰</button>

    <div class="hidden md:flex gap-2 items-center">
      <a
        routerLink="/"
        routerLinkActive="bg-secondary"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
      >
        Home
      </a>

      <a
        routerLink="/about"
        routerLinkActive="bg-secondary"
        class="text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
      >
        About
      </a>

      <a
        routerLink="/test-series"
        routerLinkActive="bg-secondary"
        class="text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
      >
        Test Series
      </a>

      <a
        routerLink="/books"
        routerLinkActive="bg-secondary"
        class="text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
      >
        Books
      </a>

      <a
        routerLink="/contact"
        routerLinkActive="bg-secondary"
        class="text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
      >
        Contact
      </a>

      <a
        routerLink="/cart"
        routerLinkActive="bg-secondary"
        class="text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
      >
        Cart
      </a>

      <a
        routerLink="/login"
        routerLinkActive="bg-yellow-400 text-blue-900"
        class="bg-secondary text-white px-3 py-2 rounded hover:bg-secondary/80 transition"
      >
        Login
      </a>
    </div>
  </div>

  <!-- Mobile -->
  <div *ngIf="open" class="md:hidden px-4 pb-3 space-y-1">
    <a
      routerLink="/"
      (click)="closeMenu()"
      routerLinkActive="bg-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
    >
      Home
    </a>

    <a
      routerLink="/about"
      (click)="closeMenu()"
      routerLinkActive="bg-secondary"
      class="block text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
    >
      About
    </a>

    <a
      routerLink="/test-series"
      (click)="closeMenu()"
      routerLinkActive="bg-secondary"
      class="block text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
    >
      Test Series
    </a>

    <a
      routerLink="/books"
      (click)="closeMenu()"
      routerLinkActive="bg-secondary"
      class="block text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
    >
      Books
    </a>

    <a
      routerLink="/contact"
      (click)="closeMenu()"
      routerLinkActive="bg-secondary"
      class="block text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
    >
      Contact
    </a>

    <a
      routerLink="/cart"
      (click)="closeMenu()"
      routerLinkActive="bg-secondary"
      class="block text-md font-bold px-3 py-2 rounded hover:bg-secondary/10 transition"
    >
      Cart
    </a>

    <a
      routerLink="/login"
      (click)="closeMenu()"
      routerLinkActive="bg-yellow-400 text-blue-900"
      class="block px-3 py-2 rounded hover:bg-yellow-300 transition"
    >
      Login
    </a>
  </div>
</nav>
